
html, body {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #003366;
  font: 50px/1.6 ;
  color: #257C7E;
  overflow-y: scroll;
  line-height: 30px;
}
img {
  max-width: 100%;
  max-height:100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .5rem;
  color:pink;
  text-shadow:0 0 3px #FF0000,0 0 5px #0000FF;
}
header {
    padding-top:10px;
}
header .container{
  max-width:980px;
  display: flex;
  position: relative;
}
header .line {
  border-bottom: solid 2px white;
  width:100%;
}
header .leftCol {
  width:40%;
  float:left;
}
header .rightCol {
  width:90%;
  text-align: right;
  float: right;
}
header .rightCol .name{
  padding-bottom:5px;
  font-weight: normal;
  text-transform: uppercase;
}
header .rightCol .career{
  font-size:15px;
  font-weight: normal;
  line-height: 21px;
}
header .pic9 {
  background: url("pic9.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  width:80px;
  height:80px;
}
h2.heading {
  text-transform: uppercase;
  margin: 1.75rem 0;
  border-bottom: solid 1px #aaa;
  line-height: 0px;
  font-weight: normal;
  color:#003366;
}
h2.heading span{
  background: #eee;
  padding-right:10px;
}
.container {
  max-width:980px;
  margin: 0 auto;
  padding:10px 20px;
}
#items {
  display: flex; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}
#items .portfolio-item {
  background: #003366;
  width: 32%;
  margin-bottom:2%;
  text-align: left;
  box-shadow: 0 2px 0 #D9E1E7;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 3px;
}
#items .portfolio-item img{
  border-radius: 3px 3px 0 0;
}
#items .portfolio-item a{
	border-width:100%;
	border-height:800px
	
}
#items .portfolio-item .text_block{
  padding: 0px;
  background:#003366;
  color:white
}
#items .portfolio-item h3 {
  font-size:18px;
  color:#444;
}
#items .portfolio-item:nth-child(3n-1) {
  margin-right:2%;
  margin-left:2%;
}
footer {
  max-width:980px;
  margin:0 auto;
  padding:10px 20px;
}
@media screen and (min-width: 600px) and (max-width: 850px)  {
  #items .portfolio-item{
    width:49%;
  }
  #items .portfolio-item:nth-child(odd) {
    margin-right:2%;
    margin-left:0px;
  }
  #items .portfolio-item:nth-child(even) {
    margin-right:0px;
    margin-left:0px;
  }
}    
@media screen and (max-width: 600px)  {
  #items .portfolio-item{
    width:99%;
    margin-right:0!important;
    margin-left:0!important;
    margin-bottom:20px;
  }
}

.footer {
  display: flex;
  width: 80%;
  max-width: 370px;
  flex-wrap: wrap;
  background-color: #003366;
  color:white;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 1em;
  margin: 100px auto 50px;
  border: 20px solid white;
  box-shadow: 0 0 0 2px white;
  transform: rotate(15deg);
  transition: transform 0.5s;
}

.footer:hover {
  transform: rotate(0deg);
}

.footer .purpose {
  font-size: 0.7em;
  color:white;
}

.footer a {
  color: inherit;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}